# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
    npm test
  displayName: 'npm install, build and test'

- task: PublishTestResults@2
  displayName: 'supply npm test results to pipelines'
  condition: succeededOrFailed() # because otherwise we won't know what tests failed
  inputs:
    testResultsFiles: 'test-reports/junit.xml'

- task: PublishCodeCoverageResults@1
  displayName: 'supply npm test coverage to pipelines'
  condition: succeededOrFailed() # because otherwise we won't know what tests failed
  inputs:
    codeCoverageTool: Cobertura
    summaryFileLocation: 'test-reports/clover.xml'